body {
    background: #beafa4;
    color: black;
}

header{
    width: 100%;
    align-items: center;
}

img{
    margin-right: 15px;
 width: 100%;
height: 600px;
}
main nav li{
    position: relative;
    text-transform: uppercase;
    margin: 0 0 0 50px;
    left: 33%;
    display: inline;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
    color: black;
}

/*nav{
    display: flex;
    text-align: center;
    margin: 0 0 0 500px;
    width: 100%;
    text-transform: uppercase;
    color: #000000;
    font-style: oblique;
    font-weight: bold
}

main .teste{
    text-decoration: none;
}*/

p#ZL{
    width: 100%;
    text-align: center;
}

p#MISSAO{
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-style: oblique;
}

footer{
    width: 100%;
    position: relative;
    top: 250px;
}